
header
{
    display: flex;
    justify-content:space-evenly; 
    padding:  10px 35px;
    color: white;
}
body
{
    background:#232327;
    color: white;
}
.navbar 
{
   padding: 20px 0;
   margin: auto;
   text-align: center;
   width: 700px;

}
.navbar a
{
    padding: 0 20px;
    text-decoration: none;
    color:inherit;
    transition: ease-in-out .3s color;
    font-size: 17.2px;
    margin: 1%;
}
.navbar a:hover
{
    color: #EC7849;
    transition: ease-in 0.9s;
}
header img
{
    width: 60px;
    height: 60px;
}


.logo
{
    display: block;
}
h4
{
float: left;
font-size: 20px;
}
img
{
    float: left;
}

.dropdown
{
    margin: auto 1px auto 0;
    float: left;
    overflow: hidden;
}
  
.drop-button
{
    background-color: #EC7849;
    color: white;
    border: none;
    font-size: 16px;  
    width: 190px;
    height: 50px;
}
  
.dropdown-content 
{
    box-shadow: 16px 27px 14px -10px #EC7849;

    display: none;
    position: absolute;
    background-color: #EC7849;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a 
{
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover 
{
    background-color: rgba(236, 119, 73, 0.63);
    cursor: pointer;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

  
.container
{
    display: block;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.panel
{
    width: 30%;
    float: left;
    height: 100%;
    background-color:rgb(228, 108, 61);
    text-align:center;
    position: fixed;
}
.panel-words
{
    padding-top: 5%;
    font-size: 40px;
}
.panel-words img
{
    text-align: center;
    width: 100px;

}

.panel-words p
{
    width:inherit;
    position: absolute;
    bottom:90;
    font-size: 15px;
    word-wrap: break-word;
    text-align: center;
}
.video-section
{
    width: 70%;
    height: 100%;
    float:left;
    display: flex;
    margin: 0 10px;
}

