@import 'index.css';

body{
    background-color: #232327;
}
.main-container{
    width: 100vw;
    height: 85vh;
    display: block;
}
.item-container{
    float: left;
    height: 100%;
    width: 75vw;
    overflow-y: scroll;
    display: block;
}
.sale-item{
    /* margin: 20px; */
    float: left;
    height: 300px;
    width: 200px;
    /* border: 2px solid #ff1456; */
    padding: 10px;
    display: grid;
    
}

.sale-item img{
    grid-row: 1;
    width: 100%;
    height: 100%;
}

.sale-item div{
    text-align: center;
    grid-row: 2;
    width: 100%;
    position: relative;
    background-color: #EC7849;
}

.cart-section{
    height: 100%;
    background-color: #EC7849;
    float: left;
    width: 25vw;

}

#cartlist li{
    cursor: pointer;
}